@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700&family=Montserrat:wght@700&display=swap");

/* Body */
html {
	font-size: 60%;
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
	font-size: 1.8rem;
	line-height: 1.6;
	max-width: 38em;
	margin: auto;
	color: #c9c9c9;
	background-color: #282c35;
	padding: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@media (max-width: 684px) {
	body {
		font-size: 1.6rem;
	}
}

@media (max-width: 382px) {
	body {
		font-size: 1.4rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

p {
	margin-top: 0px;
	margin-bottom: 2.5rem;
}

small,
sub,
sup {
	font-size: 75%;
}

hr {
	border-color: #ffa7c4;
}

a {
	text-decoration: none;
	color: #ffa7c4;
}
a:hover {
	color: #ec5e97;
	border-bottom: 2px solid #ec5e97;
}

ul {
	padding-left: 1.4em;
	margin-top: 0px;
	margin-bottom: 2.5rem;
}

li {
	margin-bottom: 0.4em;
}

blockquote {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 1em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-right: 0.8em;
	border-left: 5px solid #ffa7c4;
	margin-bottom: 2.5rem;
	background-color: #464655;
}

blockquote p {
	margin-bottom: 0;
}

img {
	height: auto;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
	background-color: #464655;
	display: block;
	padding: 1em;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 2.5rem;
}

code {
	font-size: 0.9em;
	padding: 0 0.5em;
	background-color: #464655;
	white-space: pre-wrap;
}

pre > code {
	padding: 0;
	background-color: transparent;
	white-space: pre;
}

/* Tables */
table {
	text-align: justify;
	width: 100%;
	border-collapse: collapse;
}

td,
th {
	padding: 0.5em;
	border-bottom: 1px solid #464655;
}

/* Buttons, forms and input */
input,
textarea {
	border: 1px solid #ffa7c4;
}
input:focus,
textarea:focus {
	border: 1px solid #ec5e97;
}

textarea {
	width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	padding: 7px 14px;
	margin-right: 1%;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background-color: #ffa7c4;
	color: #282c35;
	border-radius: 1px;
	border: 1px solid #ffa7c4;
	cursor: pointer;
	box-sizing: border-box;
	font-family: "Merriweather Sans";
	font-weight: 600;
}
.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: 0.5;
}
.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type="submit"]:focus:enabled,
input[type="submit"]:hover:enabled,
input[type="reset"]:focus:enabled,
input[type="reset"]:hover:enabled,
input[type="button"]:focus:enabled,
input[type="button"]:hover:enabled {
	background-color: #ec5e97;
	border-color: #ec5e97;
	color: #282c35;
	outline: 0;
}

textarea,
select,
input[type] {
	color: #ffa7c4;
	padding: 6px 10px;
	/* The 6px vertically centers text on FF, ignored by Webkit */
	margin-bottom: 10px;
	background-color: #464655;
	border: 1px solid #464655;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
textarea:focus,
select:focus,
input[type]:focus {
	border: 1px solid #ec5e97;
	outline: 0;
}

input[type="checkbox"]:focus {
	outline: 1px dotted #ffa7c4;
}

label,
legend,
fieldset {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

/* Utilities */
.center-text {
	text-align: center;
}
